body {
  margin: 0;
  background: url(Assets/background.jpg);
  background-size: cover;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wh100{
    width: 100%;
    height: 100%;    
}

.flex-center{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.martop100p{
  margin-top: 100px;
}

